*{
	padding: 0;
	margin: 0;
}
.perent{
	background: white;
	height: 630px;
	display: flex;
}
body{
	margin: 0;
}
.child{
	margin-left: 100px;
}
.block{
	text-align: center;
	font-family: Arial;
}
h3{
	font-family: Arial;
	font-weight: 100px;
	margin-top: 25px;
	font-size: 28px;
}
p{
	font-family: Arial;
	font-weight: 100px;
	margin-top: 25px;
	font-size: 18px;
}